body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.Header,
.Hero,
.Footer {
  background: #1F2937;
}

/* Header styling starts */
.Header {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
}

.Logo {
  font-size: 24px;
  color: #F9FAF8;
  align-self: flex-start;
  margin-right: -60px;
}

.Links {
  list-style-type: none;
  display:flex;
  gap: 8px;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

/* Header styling ends */

/* content styling starts*/
.Content {
  display:flex;
  flex-direction: column;
  flex: 1;
}

/* Hero section starts */
.Hero {
  display: flex;
  flex:1;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: px; 
}

.Text-button {
  max-width: 375px;
}

.Main-text {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: bolder;
}

.Secondary-text {
  font-size: 18px;
  color: #E5E7EB;
  margin-top: 12px;
}

.Sign-up {
  background: #3882F6;
  color: #E5E7EB;
}

.Sign-up {
  margin-top: 10px;
  padding: 4px 20px;
  border-radius: 5px;
}

.Img {
  height: 250px;
  width: auto; 
}

img {
  height: 250px;
  width: auto;
}

/* Hero section ends */

/* Info section starts */
.Info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Info-header {
  font-size: 36px;
  font-weight: bolder;
  flex: 1;
  padding-top: 30px;
}

.Container {
  display: flex;
  flex: 2;
  gap: 30px;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.Img-text {
  max-width: 220px;
}

.Img-text img {
  border-radius: 10px;
  height: 150px;
  width: auto;
}

.Text {
  font-size: 18px;
  color: #ESE7EB;
}
/* Info section ends */

/* Quote section starts */
.Quote {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #E5E7EB;
  justify-content: center;
  align-items: center;
}

.Quote-container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}
.Quote-author,
.Quote-main {
  font-family: 'Courier New', Courier, monospace;
  color: #1F2937;
  font-weight: 100;
}

.Quote-main {
  font-size: 36px;
  font-weight: lighter;
}

.Quote-author {
  margin-top: 15px;
  font-weight: bold;
  align-self: flex-end;
}
/* Quote section ends */
 /* CTA section starts */
.CTA {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  
}

.CTA-box {
  display: flex;
  width: 900px;
  height: 100px;
  background: #3882F6;
  justify-content: space-around;
}

.Text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #F9FAF8;
  gap: 5px
}

.Line-one {
  font-weight: 600;
}

.Button-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Btn {
  border: 1px solid #F9FAF8;
  background-color: #3882F6;
  color: #E5E7EB;
  padding: 4px 20px;
  border-radius: 5px;
}

/* CTA section ends */

/* Footer section starts */

.Footer {
  text-align: center;
  color: #E5E7EB;
  padding: 25px
}
/* Footer section ends */
